
<div class="row">
    <div class="col s12 m4 l3">
    </div>


    <div class="col s12 m4 l6">

        <div class="row">
            
                <div class="card">
                    <div class="card-content" style="padding-top: 1% !important ;">
                            {{#if loggedUser.requests}}
                                <h5>Friend equests</h5>
                                <ul>
                                    {{#each users}}
                        
                                        {{#iter requests}}
                                            <li 
                                                style="background-color: rgba(25, 86, 97, 0.781);
                                                        padding: 1%;
                                                        border-radius:5px;
                                                        margin-bottom:2px; ">
                                                <div class="row">
                                                    <div class="col s12 m4 l2" style="padding-left: 5%;">
                                                        <img src="/uploads/user/{{image}}" class="circle flex"  style="height:100px; width:100px; float:left"  alt="">

                                                    </div>
                                                    <div class="col s12 m4 l8">
                                                        
                                                            <p><b>{{firstName}} {{lastName}}</b></p>
                                                            <p>{{work}}</p>
                                                            <p>{{school}}</p>
                                                       
                                                    </div>
                                                    <div class="col s12 m4 l2" style="display: inline-flexbox;">
                                                        <form action="/feed/user/{{_id}}/accept" method="POST">
                                                            <input type="hidden" name="_method" value="PUT">
                                                            <input type="submit"  class="chip res btn mid-text" style="color: white !important;" value="Accept Request"/>
                                                        </form>
                                                                
                                                        <form action="/messages/{{_id}}" method="POST">
                                                            <input type="hidden" name="_method" value="PUT">
                                                            <input type="submit"  class="chip res btn mid-text" style="color: white !important;" value="Message"/>
                                                        </form>
                                                    </div>
                                                </div>
                                               
                                            </li>
                                
                                     
                                        {{/iter}}

                                        
                                    {{/each}}

                                </ul>
                            {{else}}
                            <p>no friend requests</p>

                            {{/if}}

                           

                        
                        <h5>All Users</h5>

                        <ul>
                            {{#each getUser}}
                            <li 
                                style="background-color: rgba(69, 69, 70, 0.781);
                                        padding: 1%;
                                        border-radius:5px;
                                        margin-bottom:0! !important;
                                        margin-top:0% !important ">
                                <div class="row">
                                    <div class="col s12 m4 l2" style="padding-left: 5%;">
                                        <img src="/uploads/user/{{image}}" class="circle flex"  style="height:100px; width:100px; float:left"  alt="">

                                    </div>
                                    <div class="col s12 m4 l8">
                                        
                                            <a class="name-color" href="{{{validFollowedUser _id ../user}}}" style="font-size: 15px !important;"><b>{{firstName}} {{lastName}} </b></a>

                                            <p>{{work}}</p>
                                            <p>{{school}}</p>
                                        
                                    </div>
                                    <div class="col s12 m4 l2" style="display: inline-flexbox;">
                                        
                                        {{{sendRequest requests ../user _id ../user.requests}}}

                                                
                                        <form action="/messages/{{_id}}" method="POST">
                                            <input type="hidden" name="_method" value="PUT">
                                            <input type="submit"  class="chip res btn mid-text" style="color: white !important;" value="Message"/>
                                        </form>
                                    </div>
                                </div>
                                
                                
                            </li>
                        
                            <br>
                            {{/each}}

                        </ul>
                            
                                
                    </div>
                </div>
  
        </div>

    </div>

    <div class="col s12 m4 l3">

    </div>
</div>
