<div class="row">
    <div class="col s12" style="background-image: linear-gradient(180deg, rgb(138, 137, 137), rgba(18, 34, 49, 0.616)); height:50vh">
        <div class="container">
            
                <div class="card-profile">
                
                     <img src="/img/cover.jpg" alt="" class="poster-profile">
                 
                    </div>
                    
                         <div style="padding-top: 15%;">
                             <div class="content">
                            
                            <div class="content-overlay circle"></div>
                            <img class="content-image circle" src="{{profileimage}}">
       
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">
                                    <a href="{{profileimage}}" class="btn-floating btn-small waves-effect waves-light htp">&#128065;</a>
                                    <a class="btn-floating btn-small waves-effect waves-light htp"><i class="material-icons">edit</i></a>
      
                                </h3>
                                
                            </div>
                            
                            
                        </div>
                         </div>

                        <span class="card-title profile center">
                            <h4 class="profile-name">{{displayName}}
                            </h4>
                            </span>
                       

                        
            
            
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
         <div class="row">
            
            <div class="col s12 m4 l5">
                <div class="prof-container">
            <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a href="#test-swipe-1" class="active tab-header">
                <i class="material-icons med center mid-loss waves-effect waves-light">home</i>
            </a></li>
            <li class="tab col s3"><a class="tab-header" href="#test-swipe-2" >
                <i class="material-icons med center mid-loss waves-effect waves-light">edit</i>

            </a></li>
            <li class="tab col s3"><a href="#test-swipe-3" class="tab-header">
                <i class="material-icons med center mid-loss waves-effect waves-light">person_add</i>

            </a></li>
            <li class="tab col s3"><a href="#test-swipe-4" class="tab-header">
                <i class="material-icons med center mid-loss waves-effect waves-light">person_add</i>

            </a></li>
            </ul>
            <div id="test-swipe-1" class="col s12 body-color1"></div>
            <div id="test-swipe-2" class="col s12 body-color1">Test 2</div>
            <div id="test-swipe-3" class="col s12 body-color1">Test 3</div>
            <div id="test-swipe-4" class="col s12 body-color1">Test 3</div>

                            
                
                </div>
                
            </div>
            


            <div class="col s12 m4 l6">
             <div class="display-top-header">
                <a href = "/editProfile/{{_id}}" class="waves-effect waves-light btn htp mid-text right"><i class="material-icons left">edit</i> Edit Profile</a>

             </div>

                
                {{{checklength messages 0}}}
               
                 
                {{#each stories}}
                
                    <div class="card">
                        <div class="card-image red">


                           
        
                            
                        </div>
                        <div class="chip res">
                                <img src="{{user.image}}" alt="">
                                <a class="name-color" href="/feed/user/{{user._id}}"> {{user.displayName}} </a>
                        </div>
                        

      
                        <!-- Dropdown Trigger -->
                            <a class='dropdown-trigger btn right' href='#' data-target='post-edit'><i class="material-icons">more_horiz</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='post-edit' class='dropdown-content t-dot'>
                                <li style=""> {{{editIcon user ../user _id}}}</li>
                                
                                <li>
                                    <form action="/feed/{{_id}}" method="POST" id="delete-form">
                                        <input type="hidden" name="_method" value="DELETE">
                                        
                                        <input type="submit" class="btn waves-effect waves-light" value="Delete">
                                            
                                        </input> 
                                    </form>
                                </li>
                            </ul>
                        <div class="card-content">
                            <span class="card-date">{{formatDate createdAt 'do MMM yyyy HH:mm:ss'}}</span>
                            <span class="card-date capitalize">&bull; {{status}} </span>
                            <p> {{stripTags (truncate body 150)}} </p>
                            <a href="/feed/{{_id}}">View More</a>
                            <br>
    
                        </div>

                        <div class="card-action">
                           <a href="sass.html" class="btn-floating btn-small waves-effect waves-light htp left"><i class="material-icons">thumb_up</i> </a>4.9k
                           <a href="sass.html" class="btn-floating btn-small waves-effect waves-light htp center"><i class="material-icons">comment</i></a>4.9k
                           <a href="sass.html" class="btn-floating btn-small waves-effect waves-light htp float"><i class="material-icons">share</i></a>4.9k


                        </div>
                        
                    </div>
                

            {{else}}
                <p style="color: white;">No feed to display</p>

            {{/each}}

            </div>
            
        </div>
        
        
    </div>
</div>
