<div class="row">
    <div class="col s12" style="background-image: linear-gradient(180deg, rgb(138, 137, 137), rgba(18, 34, 49, 0.616)); height:50vh">
        <div class="container">
            
                <div class="card-profile">
                
                     <img src="/uploads/user/cover/{{cover}}" alt="" class="poster-profile">
                 
                    </div>
                    
                         <div style="padding-top: 15%;">
                             <div class="content">
                            
                            <div class="content-overlay circle"></div>
                            <img class="content-image circle" src="/uploads/user/{{profileimage}}">
       
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">
                                    <a href="/uploads/user/{{profileimage}}" class="btn-floating btn-small waves-effect waves-light htp">&#128065;</a>
                                    <a href = "/editprofile/{{userID}}" class="btn-floating btn-small waves-effect waves-light htp"><i class="material-icons">edit</i></a>
      
                                </h3>
                                
                            </div>
                            
                            
                        </div>
                         </div>

                        <span class="card-title profile center">
                            <h4 class="profile-name">{{firstName}} {{lastName}}
                            </h4>
                            </span>
                       

                        
            
            
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
         <div class="row">
            
            <div class="col s12 m4 l5">
                <div class="prof-container">
            <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a href="#test-swipe-1" class="active tab-header">
                <i class="material-icons med center mid-loss waves-effect waves-light">home</i>
            </a></li>
            <li class="tab col s3"><a class="tab-header" href="#test-swipe-2" >
                <i class="material-icons med center mid-loss waves-effect waves-light">more</i>

            </a></li>
            <li class="tab col s3"><a href="#test-swipe-3" class="tab-header">
                <i class="material-icons med center mid-loss waves-effect waves-light">photo</i>

            </a></li>
            <li class="tab col s3"><a href="#test-swipe-4" class="tab-header">
                <i class="material-icons med center mid-loss waves-effect waves-light">photo_library</i>

            </a></li>
            </ul>
            <div id="test-swipe-1" class="col s12 body-color1">
                <p>
                    <i class="material-icons">work</i> {{work}}     
                </p>
                <p>
                    <i class="material-icons">school</i> {{degree}} in {{branch}} at {{school}}     
                </p>
                <p>
                    <i class="material-icons">location_on</i> Lives in {{current_city}}     
                </p>
                <p>
                    <i class="material-icons">home</i> From {{hometown}}     
                </p>
                
                <p>
                    
                    <a href="#followers" class="modal-trigger follower-text"><i class="material-icons">domain_verification</i> Followed by {{followers.length}} people </a>
                    
                </p>
                
                
                <p>
                    <i class="material-icons">schedule</i> Joined {{formatDate createdAt 'do MMM yyyy HH:mm:ss'}}     
                </p>
                <hr/>
                
                    
                
            </div>
            <div id="test-swipe-2" class="col s12 body-color1">
                <p>
                    <i class="material-icons">face</i> {{gender}}     
                </p>
                <p>
                    <i class="material-icons">calendar_today</i> {{dob}}     
                </p>
                <p>
                    <i class="material-icons">interests</i> {{hobbies}}     
                </p>
            </div>
            <div id="test-swipe-3" class="col s12 body-color1">
                {{#each timestories}}
        
                    {{{featured storiesimage}}}
                                
                {{else}}
                        <p>No stories to display</p>

                    {{/each}}
            </div>
            <div id="test-swipe-4" class="col s12 body-color1" style="scroll-behavior: auto; overflow:scroll">
              
                    {{#each stories}}
            
                        {{{validImage image}}}
                                    
                    {{/each}}
              
                
                      
            </div>
                {{#each timestories}}
        
                    {{{featured storiesimage}}}
                                
                {{else}}
                        <p>No stories to display</p>

                    {{/each}}
                            
                
                </div>
                
            </div>
                <!-- Modal Structure -->
                    <div id="followers" class="modal">
                        
                        <div class="modal-content">
                        <h4 class="mid-text">Followers:</h4>
                        <hr>
                        <p class="mid-text">
                            {{#each users}}
                            <ul>
                                
                                    {{#iter followers}}
                                    <li>
                                        <div class="chip res">
                                            <img src="/uploads/user/{{image}}" alt="">
                                            <a class="name-color" href="{{{validFollowedUser _id ../../user}}}"> {{firstName}} {{lastName}} </a>
                                         </div>  

                                    </li>
                                            
                                    {{/iter}}

                            </ul>
                                


                            {{/each}}
                        </p>
                        </div>
                        
                        
                    </div>
            <!-- Modal Structure for friends-->
                    <div id="friends" class="modal">
                        
                        <div class="modal-content">
                        <h4 class="mid-text">Friends:</h4>
                        <hr>
                        <p class="mid-text">
                            <div class="card-content mid-text" style="padding-top: 1% !important ;">
                            {{#if GuestUser.friends}}
                                <ul>
                                        {{#each users}}
                            
                                            {{#iter friends}}
                                                <li 
                                                    style="background-color: rgba(100, 100, 100, 0.438);
                                                            padding:1%;
                                                            padding-right:0% !important;
                                                            border-radius:5px;
                                                            margin-bottom:2px; ">
                                                    <div class="row">
                                                        <div class="col s12 m4 l2" style="padding-left: 1%; padding-top: 2%;">
                                                            <img src="/uploads/user/{{image}}" class="circle flex"  style="height:60px; width:60px; float:left"  alt="">

                                                        </div>
                                                        <div class="col s12 m4 l6">
                                                            
                                                                <a class="name-color" href="{{{validFollowedUser _id ../../user}}}" style="font-size: 15px !important;"><b>{{firstName}} {{lastName}} </b></a>

                                                                {{#if work}}
                                                                    <p>{{work}}</p>
                                                                {{else}}
                                                                    <p>{{school}}</p>
                                                                {{/if}}
                                                        
                                                        </div>
                                                        <div class="col s12 m4 l1" style="display: inline-flexbox;">
                                                            <div style="display: inline-flex;">
                                                                {{{checkFriendsList ../requests ../../user _id ../../user.requests}}}
                                                            
                                                                {{{showMessageIcon ../../user _id}}}

                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                                </li>
                                    
                                        
                                            {{/iter}}

                                            
                                        {{/each}}

                                    </ul>
                                {{else}}
                                <p class="mid-text"> no friends found.</p>

                                {{/if}}
                                

                            </p>
                        </div>
                    </div>
                        
                </div>


            <div class="col s12 m4 l6" style="display:inline-flexbox">
                
                
             <div class="display-top-header">
                 
                <a href = "/editProfile/{{userID}}" class="waves-effect waves-light btn htp mid-text right"><i class="material-icons left">edit</i> &nbsp;Edit Profile</a>
              &nbsp;<a href = "/cover/{{userID}}" class="waves-effect waves-light btn htp mid-text right"><i class="material-icons left">camera</i> &nbsp; Add Cover</a>
              &nbsp;<a href = "/profile/photos" class="waves-effect waves-light btn htp mid-text"><i class="material-icons left">photo_library</i>&nbsp; Photos</a>
              &nbsp;<a href = "#friends" class="waves-effect waves-light btn htp mid-text modal-trigger"><i class="material-icons left">people</i>&nbsp; Friends</a>


             </div>
          

                
                {{{checklength messages 0}}}
               
                 
                {{#each stories}}
                
                    <div class="card">
                        <div class="card-image red">
                            {{{editIconfeed user ../user _id}}}


                           
        
                            
                        </div>
                        <div class="chip res">
                                <img src="/uploads/user/{{user.image}}" alt="">
                                <a class="name-color" href="{{{validUser user ../user}}}"> {{user.firstName}} {{user.lastName}} </a>
                        </div>
                        

      
                        
                        <div class="card-content">
                            <span class="card-date">{{formatDate createdAt 'do MMM yyyy HH:mm:ss'}}</span>
                            <span class="card-date">&bull; {{{getStatus status}}} </span>

                            <p> {{stripTags (truncate body 150)}} </p>
                            <a href="/feed/{{_id}}" class="view-more">Show More</a>
                            <br>
    
                        </div>
                        {{{validImage image}}}

                        {{#if likes}}
                        <ul class="collapsible" style="margin-top:-5px; margin-bottom:-5px">
                            <li>
                            <div class="collapsible-header">
                                
                                <div class="col s4 m7 l10">
                                    <div style="float: left !important;">
                                        {{!-- <span><img src="/uploads/user/{{likes.0.image}}" class="circle" height="20px" width="20px"  alt=""></span> --}}
                                        <span><img src="/img/like.png" style="float: left;" height="25px" width="25px" alt=""></span>
                                        <span class="likedlook name-color">
                                            {{#iter likes}}
                                                {{{validLikedUserTag _id ../likes ../../user}}}
                                            {{/iter}}
                                            {{{checkLikedLength likes ../user}}}
                                            
                                    </div>
                                </div>
                                <div class="col s5 m4 l4">
                                    <a href="/feed/{{_id}}" class="likedlook">{{comments.length}} comments </a>, 0 share
                                </div>
                            </div>
                                <div class="collapsible-body likes-content">
                                    <span> 
                                        {{#iter likes}}
                                            <div class="chip res">
                                                    <img src="/uploads/user/{{image}}" alt="">
                                                    <a class="name-color" href="{{{validLikedUser _id ../user}}}"> {{firstName}} {{lastName}} </a>
                                            </div>
                                            
                                            
                                        {{/iter}}
                                    </span>
                                </div>
                            
                                </li>
                            </ul>
                            {{else}}
                                Be the first to like
                                <div class="right"><a href="/feed/{{_id}}" class="likedlook">{{comments.length}} comments </a>, 0 share </div>


                            {{/if}}

                        <div class="card-action">
                           <div class="row" style="margin: 0% !important;">
                                <div class="col s12 m4 l4">
                                    <form action="/feed/{{_id}}/{{user._id}}/like" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                
                                                {{{checkLikedState likes ../user}}}
                                         
                                                        
                                    </form>
                                </div>
                                <div class="col s12 m4 l4">
                                    <form action="" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                
                                                <input type="submit" class="btn-small htp material-icons round" value="message"/>
                                                Comment
                                                        
                                    </form>
                                </div>
                                <div class="col s12 m4 l4">
                                    <form action="" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                
                                                <input type="submit" class="btn-small htp material-icons round" value="share"/>
                                                share
                                                        
                                    </form>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                

            {{else}}
                <p style="color: white;">No feed to display</p>

            {{/each}}

            </div>
            
        </div>
        
        
    </div>
</div>
                    
                    
             