<div class="row">
    <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">

        <div class="card story">
           <h2>Edit Profile</h2> 
           <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>Account Details</div>
              <div class="collapsible-body"><span>
                  <div class="row">
                    <form href="/editProfile/{{id}}" class="col s12" method="POST" enctype="multipart/form-data">
                    <div class="row">
                      <div class="col s6">
                        <label for="first_name">First Name</label>
                        <input id="firstName" type="text" name="firstName" class="validate" value="{{firstName}}"> 
                      </div>
                      <div class="col s6">
                        <label for="first_name">Last Name</label>
                        <input id="lastName" type="text" name="lastName" class="validate" value="{{lastName}}">
                      </div>
                        
                        
                    </div>
                    
                    <div class="row">
                        <div class="col s6">
                          <label for="email">Email</label>
                          <input id="email" type="email" class="validate" disabled>
                        </div>
                        <div class="col s6">
                          <label for="gender"> Gender</label>
                          <select name="gender" class="browser-default">
                          <option value="" disabled selected>{{gender}}</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                        </select>
                        </div>
                        
                    </div>
                    <div class="row">
                      <div class="col s6">
                        <label for="dob">Birth Date</label>
                      <input type="text" name="dob" class="datepicker validate" value="{{dob}}">
                      </div>
                    </div>
                    
                    

                    <div class = "row">
                      <label>Profile Photo</label>
                      <div class = "file-field">
                          <div class = "btn">
                            <span>Browse</span>
                            <input type = "file" name="image" id="image" />
                          </div>
                          
                          <div class = "file-path-wrapper">
                            <input class = "file-path validate" type = "text" 
                                placeholder = "Upload file" />
                          </div>
                      </div>
                   </div>
                    
                    <input type="submit" class="btn col s1 waves-effect waves-light right" value="Save"/>

                    </form>
                </div>
                <div class="row">
                <img src="/uploads/user/{{profileimage}}" alt="" width="100px" height="100px">

                </div>
              </span></div>
            </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Basic Information</div>
      <div class="collapsible-body"><span>
                  <div class="row">
                    <form href="/editProfile/{{id}}" class="col s12" method="POST" >
                    <div class="row">
                      <div class="col s6">
                        <label for="work">Work</label>
                        <input id="work" name="work" type="text" class="validate" value="{{work}}"> 
                      </div>
                      <div class="col s6">
                        <label for="current_city">Current City</label>
                        <input name="current_city"  type="text" class="validate" value="{{current_city}}">
                       </div>
                    </div>

                    <div class="row">
                      <div class="col s6">
                        <label for="Hometown">HomeTown</label>
                        <input name="hometown" type="text" class="validate" value="{{hometown}}"> 
                      </div>
                      <div class="col s6">
                        <label for="hobbies">Hobbies</label>
                        <input name="hobbies" type="text" class="validate" value="{{hobbies}}">
                       </div>
                    </div>
                    
                   
                    

                    <input type="submit" class="btn col s1 waves-effect waves-light right" value="Save"/>

                    </form>
                </div>
              </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">books</i>Educational Qualification</div>
      <div class="collapsible-body"><span>
                  <div class="row">
                    <form href="/editProfile/{{id}}" class="col s12" method="POST" >
                    <div class="row">
                      <div class="col s6">
                        <label for="school">School/College</label>
                        <input name="school" type="text" class="validate" value="{{school}}"> 
                      </div>
                      <div class="col s6">
                        <label for="school">Branch</label>
                        <input name="branch" type="text" class="validate" value="{{branch}}"> 
                      </div>
                    </div>
                      
                    

                    <div class="row">
                        <div class="col s12">
                          <label for="degree"> Degree</label>
                          <select class="browser-default" name="degree">
                          <option value="" disabled selected>{{degree}}</option>
                          <option value="BSc">BSc</option>
                          <option value="BA">BA</option>
                          <option value="MSc">MSc</option>
                          <option value="MA">MA</option>
                          <option value="Bcom">Bcom</option>
                          <option value="Mcom">Mcom</option>
                          <option value="BE">BE</option>
                          <option value="Btech">Btech</option>
                          <option value="Mtech">Mtech</option>
                          <option value="MBBS">MBBS</option>
                          <option value="MS">MS</option>
                        </select>
                        </div>
                    </div>
                    <input type="submit" class="btn col s1 waves-effect waves-light right" value="Save"/>

                    </form>
                </div>
              </span></div>
    </li>
  </ul>
                            
                
               
        </div>
    </div>
    <div class="col s12 m4 l2"></div>
    
   
        
   </div> 
    
    
</div>
