
<div class="row">
    <div class="col s12 m4 l3">
    </div>


    <div class="col s12 m4 l6">

        <div class="row">
            
                <div class="card">
                    <div class="card-content" style="padding-top: 1% !important ;">
                        <h5>showing Results for "{{search_name}}"</h5>

                        <ul>
                            {{#each search_results}}
                                <li 
                                    style="background-color: rgba(69, 69, 70, 0.781);
                                            padding: 1%;
                                            border-radius:5px;
                                            margin-bottom:0! !important;
                                            margin-top:0% !important ">
                                    <div class="row">
                                        <div class="col s12 m4 l2" style="padding-left: 5%;">
                                            <img src="/uploads/user/{{image}}" class="circle flex"  style="height:100px; width:100px; float:left"  alt="">

                                        </div>
                                        <div class="col s12 m4 l8">
                                            
                                                <a class="name-color" href="{{{validFollowedUser _id ../user}}}" style="font-size: 15px !important;"><b>{{firstName}} {{lastName}} </b></a>

                                                <p>{{work}}</p>
                                                <p>{{school}}</p>
                                            
                                        </div>
                                        <div class="col s12 m4 l2" style="display: inline-flexbox;">
                                            
                                            {{{sendRequest requests ../user _id ../user.requests}}}

                                            {{{showMessageIcon ../user _id}}}
                                             
                                            
                                        </div>
                                    </div>
                                    
                                    
                                </li>
                            
                                <br>
                            {{else}}
                            <p>no User found</p>

                            <br>
                            {{/each}}

                        </ul>
                            
                                
                    </div>
                </div>
  
        </div>

    </div>

    <div class="col s12 m4 l3">

    </div>
</div>
