{{#each users}}
<div class="row">
    <div class="col s12" style="background-image: linear-gradient(180deg, rgb(138, 137, 137), rgba(18, 34, 49, 0.616)); height:50vh">
        <div class="container">
            
                <div class="card-profile">
                    
                     <img src="/uploads/user/cover/{{cover}}" alt="" class="poster-profile">
                   
                    </div>
                    
                         <div style="padding-top: 15%;">
                             <div class="content">
                            
                            <div class="content-overlay circle"></div>
                            <img class="content-image circle" src="/uploads/user/{{image}}">
       
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">
                                    <a href="/uploads/user/{{image}}" class="btn-floating btn-small waves-effect waves-light htp">&#128065;</a>
                                    
                                </h3>
                                
                            </div>
                            
                            
                        </div>
                         </div>

                        <span class="card-title profile center">
                            <h4 class="profile-name">{{firstName}} {{lastName}}
                            </h4>
                        </span>
                       

            
            
        </div>
    </div>
</div>
{{/each}}


<div class="row">
    <div class="container">
         <div class="row">
            
            <div class="col s12 m4 l5">
                <div class="prof-container">
            <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a href="#test-swipe-1" class="active tab-header">
                <i class="material-icons med center mid-loss waves-effect waves-light">home</i>
            </a></li>
            <li class="tab col s3"><a class="tab-header" href="#test-swipe-2" >
                <i class="material-icons med center mid-loss waves-effect waves-light">more</i>

            </a></li>
            <li class="tab col s3"><a href="#test-swipe-3" class="tab-header">
                <i class="material-icons med center mid-loss waves-effect waves-light">photo</i>

            </a></li>
            <li class="tab col s3"><a href="#test-swipe-4" class="tab-header">
                <i class="material-icons med center mid-loss waves-effect waves-light">photo_library</i>

            </a></li>
            </ul>
            <div id="test-swipe-1" class="col s12 body-color1">
                {{#each users}}
                <p>
                    <i class="material-icons">work</i> {{work}}     
                </p>
                <p>
                    <i class="material-icons">school</i> {{degree}} in {{branch}} at {{school}}     
                </p>
                <p>
                    <i class="material-icons">location_on</i> Lives in {{current_city}}     
                </p>
                <p>
                    <i class="material-icons">home</i> From {{hometown}}     
                </p>
                <p>
                    <i class="material-icons">schedule</i> Joined {{formatDate createdAt 'do MMM yyyy HH:mm:ss'}}     
                </p>
                <hr/>
                
                {{/each}}
                    
                
            </div>
            <div id="test-swipe-2" class="col s12 body-color1">
                {{#each users}}
                <p>
                    <i class="material-icons">face</i> {{gender}}     
                </p>
                <p>
                    <i class="material-icons">calendar_today</i> {{dob}}     
                </p>
                <p>
                    <i class="material-icons">interests</i> {{hobbies}}     
                </p>

                {{/each}}
            </div>
            <div id="test-swipe-3" class="col s12 body-color1">
                {{#each timestories}}
        
                    {{{featured storiesimage}}}
                                
                {{else}}
                        <p>No stories to display</p>

                    {{/each}}
            </div>
            <div id="test-swipe-4" class="col s12 body-color1" style="scroll-behavior: auto; overflow:scroll">
              
                    {{#each stories}}
            
                        {{{validImage image}}}
                                    
                    {{/each}}
              
                
                      
            </div>
                {{#each timestories}}
        
                    {{{featured storiesimage}}}
                                
                {{else}}
                        <p>No stories to display</p>

                    {{/each}}
                            
                
                </div>
                
            </div>
            


            <div class="col s12 m4 l6" style="display:inline-flexbox">
                
             <div class="display-top-header">
              {{#each users}}  

                 &nbsp;<a href = "/feed/user/photos/{{_id}}" class="waves-effect waves-light btn htp mid-text"><i class="material-icons left">photo_library</i>&nbsp; Photos</a>
                
                     
                <form action="/feed/user/{{_id}}/follow" method="POST" class="right" >
                     <input type="hidden" name="_method" value="PUT">
                     <input type="submit"  class="waves-effect waves-light btn blue mid-text right" style="color: white !important;" value="{{{checkstate followers _id}}}"/>
                                                
                </form>
                 <a href = "" class="waves-effect waves-light btn blue mid-text right"><i class="material-icons left">group_add</i>&nbsp; Add Friend</a>
                 
                {{/each}}
             </div>

                
              
                 
                {{#each stories}}
                
                    <div class="card">
                        <div class="card-image red">


                           
        
                            
                        </div>
                        <div class="chip res">
                                <img src="/uploads/user/{{user.image}}" alt="">
                                <a class="name-color" href="/feed/user/{{user._id}}"> {{user.firstName}} {{user.lastName}} </a>
                        </div>
                        
                        <div class="card-content">
                            <span class="card-date">{{formatDate createdAt 'do MMM yyyy HH:mm:ss'}}</span>
                            <span class="card-date capitalize">&bull; {{status}} </span>
                            <p> {{stripTags (truncate body 150)}} </p>
                            <a href="/feed/{{_id}}" class="view-more">View More</a>
                            <br>
    
                        </div>
                        {{{validImage image}}}
                        {{#if likes}}
                        <ul class="collapsible" style="margin-top:-5px; margin-bottom:-5px">
                            <li>
                            <div class="collapsible-header">
                                
                                <div class="col s4 m7 l10">
                                    <div style="float: left !important;">
                                        {{!-- <span><img src="/uploads/user/{{likes.0.image}}" class="circle" height="20px" width="20px"  alt=""></span> --}}
                                        <span><img src="/img/like.png" height="20px" width="20px"alt=""></span>
                                        <span class="likedlook">{{likes.length}} likes <span>
                                    </div>
                                </div>
                                <div class="col s5 m4 l4">
                                    <a href="/feed/{{_id}}" class="likedlook">{{comments.length}} comments </a>, 0 share
                                </div>
                            </div>
                                <div class="collapsible-body likes-content">
                                    <span> 
                                        {{#iter likes}}
                                            <div class="chip res">
                                                    <img src="/uploads/user/{{image}}" alt="">
                                                    <a class="name-color" href="/feed/user/{{_id}}"> {{firstName}} {{lastName}} </a>
                                            </div>
                                            
                                            
                                        {{/iter}}
                                    </span>
                                </div>
                            
                                </li>
                            </ul>
                            {{else}}
                                Be the first to like
                                <div class="right"><a href="/feed/{{_id}}" class="likedlook">{{comments.length}} comments </a>, 0 share </div>


                            {{/if}}

                        <div class="card-action">
                           <div class="row" style="margin: 0% !important;">
                                <div class="col s12 m4 l4">
                                    <form action="/feed/{{_id}}/like" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                
                                                <input type="submit" class="btn-small material-icons round" value="thumb_up"/>
                                                Like
                                                        
                                    </form>
                                </div>
                                <div class="col s12 m4 l4">
                                    <form action="" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                
                                                <input type="submit" class="btn-small material-icons round" value="message"/>
                                                Comment
                                                        
                                    </form>
                                </div>
                                <div class="col s12 m4 l4">
                                    <form action="" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                
                                                <input type="submit" class="btn-small material-icons round" value="share"/>
                                                Share
                                                        
                                    </form>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                

            {{else}}
                <p style="color: white;">No feed to display</p>

            {{/each}}

            </div>
            
        </div>
        
        
    </div>
</div>

