
    
    
    <div id="editPost" class="modal">
        <div class="modal-content">
        <a href="" onclick="window.history.go(-1); return false;" class="modal-close btn right waves-effect waves-green btn-flat"> &times;</a>

        <p style="color: rgb(236, 236, 236);">Edit Post</p>
        <div class="chip res">
            <img src="/uploads/user/{{profileimage}}" alt="">
            <a class="name-color" href="/feed/user/{{user._id}}"> {{firstName}} {{lastName}} </a>
            </div>
        <form action="/feed/{{story._id}}" method="POST" >
            <input type="hidden" name="_method" value="PUT">

            <div class="row">
                <div class="input-field-post">
                    <select class="browser-default" name="status">
                        {{#select story.status}}
                        <option id="op-post" value="public"  selected > Public</option>
                        <option id="op-post" value="private" >Private</option>
                        {{/select}}

                    </select>
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <textarea id="body" class="dark-theme" name="body">{{story.body}}</textarea>
                </div>
            </div>

            

            <div class="row">
                <input type="submit" value="Post" class="btn col s12 htp">
                
            </div>
        </form>
        </div>
        
    </div>        


<div class="row">
    
    <div class="col s12 m4 l3">
             <div class="card top-m-1 center">
                 <div class="poster-main">
                     <img src="/img/cover.jpg" alt="" class="poster-main-img">
                 </div>
                 
            
                <img src="{{profileimage}}" class="circle responsive-img img-small center" style="position:relative"><br>
                <span class="card-title center">{{firstName}} {{lastName}}</span>
            </div>
           
            <ul class="collapsible top-m-1">
            <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li class="divider" tabindex="-1"></li>

            <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
        
    </div>

    
    <div class="col s12 m4 l6">
        
    </div>


     <div class="col s12 m4 l3">
         <div class="top-right-stories">
            <h6 style="color: aliceblue;">Stories</h6>

                
         </div>
        <div class="med-right-chat-active">
              <h6 style="color: aliceblue;">Active Users</h6>
                
        </div>
    </div>
  </div>

     
