
<div class="row">
    
    <div class="col s12 m4 l3">
             <div class="card top-m-1 center">
                 <div class="poster-main">
                     <img src="/img/cover.jpg" alt="" class="poster-main-img">
                 </div>
                 
            
                <img src="{{profileimage}}" class="circle responsive-img img-small center" style="position:relative"><br>
                <span class="card-title center">{{displayName}}</span>
            </div>
           
            <ul class="collapsible top-m-1">
            <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li class="divider" tabindex="-1"></li>

            <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
        
    </div>

    
    <div class="col s12 m4 l6">

        <div class="row">
            <div class="container">
                <div class="card">
                    <div class="post-container">


                        <!-- Modal Structure -->
                        <div id="post" class="modal">
                            <div class="modal-content">
                            <a href="" class="modal-close btn right waves-effect waves-green btn-flat"> &times;</a>
   
                            <p style="color: rgb(236, 236, 236); font-size:24px">Create Post</p>
                            <div class="chip res">
                                <img src="{{profileimage}}" alt="">
                                <a class="name-color" href="/feed/user/{{user._id}}"> {{displayName}} </a>
                             </div>
                            <form action="/feed" method="POST" >
                                <div class="row">
                                    <div class="input-field-post">
                                        <select class="browser-default" name="status">
                                            <option id="op-post" value="public"  selected > Public</option>
                                            <option id="op-post" value="private" >Private</option>
                                        </select>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field-text">
                                        <textarea id="body" class="dark-theme" name="body" placeholder=" What's on your mind, {{name}}? "></textarea>
                                    </div>

                                </div>

                                

                                <div class="row">
                                    <input type="submit" value="Post" class="btn col s12 htp">
                                </div>
                            </form>
                            </div>
                            
                        </div>        
                        <a href="#post" class="btn post waves-effect waves-light htp modal-trigger pad-1" ><i class="fas fa-edit"></i> What's on your mind, {{name}} ? </a>

                        
                
        
          

                    </div>
                    <ul class="post-footer-bar">
                            
                        <li class="post-f-btn">
                            <div id="imgpost" class="modal">
                            <div class="modal-content">
                                <a href="" class="modal-close btn right waves-effect waves-green btn-flat"> &times;</a>
    
                                <p style="color: rgb(236, 236, 236); font-size:24px">Post Images</p>
                                
                                
                                <form action="/feed" enctype="multipart/form-data" method="POST">
                                    <div class="row">
                                        <div class="input-field-text">
                                            <input type="file" class="form-control" name="images" id="formFile" multiple>
                                        </div>
                                        <div class="input-field-text">
                                            <input type="submit" class="btn btn-warning" value="Upload Images">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                        </div>   
                            
                            <a href="#imgpost" class="waves-effect waves-light modal-trigger"><i class="material-icons med center">add_a_photo</i></a>
                            
                                  
                        
                        
                        </li>




                        <li class="post-f-btn"><a href="collapsible.html" class="waves-effect waves-light modal-trigger"><i class="material-icons med center">ondemand_video</i></a></li>
                        <li class="post-f-btn"><a href="sass.html" class="waves-effect waves-light modal-trigger"><i class="material-icons med center">mood</i></a></li>
                     </ul>
                    
                

                    
                
                </div>

                
            </div>
            
        </div>


       <div class="row">
           <div class="container">
              <h4 style="color: aliceblue;">News Feed</h4>
           </div>
       </div>
        <div class="row">
            
            {{#each images}} 
                {{#each this}}
                    {{#if imageBase64 }}
                            <div class="container">
                                    <div class="card red">
                                        <div class="card-image">
                                        <img src='data:{{contentType}};base64,{{imageBase64}}' alt="...">

                                        </div>
                                        
                                    </div>
                            </div>
                    {{/if}}
                    {{/each}}
            {{/each}}
        </div>

        <div class="row">
            {{#each stories}}
                <div class="container" >
                    <div class="card">
                        <div class="card-image red">
                            {{{editIcon user ../user _id}}}
                            
                           
                        </div>
                        <div class="chip res">
                                <img src="{{user.image}}" alt="">
                                <a class="name-color" href="/feed/user/{{user._id}}"> {{user.displayName}} </a>
                        </div>
                        
                       
                        <div class="card-content">
                            <span class="card-date">{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span>
                            <span class="card-date capitalize">&bull; {{status}} </span>
                            <p> {{stripTags (truncate body 150)}} </p>
                            <a href="/feed/{{_id}}">View More</a>
                            <br>
    
                        </div>

                        <div class="card-action">
                            <form action="/feed/{{_id}}/like" method="POST">
                                        <input type="hidden" name="_method" value="PUT">
                                       
                                        <input type="submit" class="btn material-icons" value="thumb_up"/>

                                       
                                       
                            </form>
{{!-- 
                           <a href="/feed/{{_id}}" class="btn-floating btn-small waves-effect waves-light htp left"><i class="material-icons">thumb_up</i> </a>{{counter}}
                           <a href="sass.html" class="btn-floating btn-small waves-effect waves-light htp center"><i class="material-icons">comment</i></a>4.9k
                           <a href="sass.html" class="btn-floating btn-small waves-effect waves-light htp float"><i class="material-icons">share</i></a>4.9k --}}
                    

                        </div>
                        
                    </div>
                </div>

            {{else}}
                <p>No stories to display</p>

            {{/each}}
        </div>
    </div>


     <div class="col s12 m4 l3">
         <div class="top-right-stories">
            <h6 style="color: aliceblue;">Stories</h6>

                
         </div>
        <div class="med-right-chat-active">
              <h6 style="color: aliceblue;">Active Users</h6>
                
        </div>
    </div>
  </div>

     
