
<div class="row">
    
    <div class="col s12 m4 l3">
            <div class="card top-m-1 center">
                 <div class="poster-main">
                     <img src="/uploads/user/cover/{{cover}}" alt="" class="poster-main-img">
                 </div>
                 
                <img src="/uploads/user/{{profileimage}}" class="circle responsive-img img-small center" style="position:relative"><br>
                <span class="card-title center">{{firstName}} {{lastName}}</span>
            </div>
           
            <ul class="collapsible top-m-1">
            <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li class="divider" tabindex="-1"></li>

            <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
        
    </div>

    
    <div class="col s12 m4 l6">

        <div class="row">
            <div class="container">
                <div class="card">
                    <div class="post-container">


                        <!-- Modal Structure -->
                        <div id="post" class="modal">
                            <div class="modal-content">
                            <a href="" class="modal-close btn right waves-effect waves-green btn-flat"> &times;</a>
   
                            <p style="color: rgb(236, 236, 236); font-size:24px">Create Post</p>
                            <div class="chip res">
                                <img src="/uploads/user/{{profileimage}}" alt="">
                                <a class="name-color" href="/profile"> {{firstName}} {{lastName}} </a>
                             </div>
                                <form action="/feed" method="POST" enctype="multipart/form-data" >
                                
                                    <div class="row">
                                        <div class="input-field-post">
                                            <select class="browser-default" name="status">
                                                <option id="op-post" value="public"  selected > Public</option>
                                                <option id="op-post" value="private" >Private</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field-text">
                                            <textarea id="body" class="dark-theme" name="body" placeholder=" What's on your mind, {{name}}? "></textarea>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="input-field-text">
                                                <input type="file" class="form-control" name="image" id="image" />
                                            </div>
                                    </div>

                                    <div class="row">
                                        <input type="submit" value="Post" class="btn col s12 htp">
                                    </div>
                                </form>
                            </div>
                            
                        </div>        
                        <a href="#post" class="btn post waves-effect waves-light htp modal-trigger pad-1" ><i class="fas fa-edit"></i> What's on your mind, {{name}} ? </a>

                        
                
        
          

                    </div>
                    <ul class="post-footer-bar">
                            
                        <li class="post-f-btn">
                            <div id="imgpost" class="modal">
                            <div class="modal-content">
                                <a href="" class="modal-close btn right waves-effect waves-green btn-flat"> &times;</a>
    
                                <p style="color: rgb(236, 236, 236); font-size:24px">Post Images</p>
                                
                                
                                    <form action="/feed" method="POST" enctype="multipart/form-data" >
                                
                                    <div class="row">
                                        <div class="input-field-post">
                                            <select class="browser-default" name="status">
                                                <option id="op-post" value="public"  selected > Public</option>
                                                <option id="op-post" value="private" >Private</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field-text">
                                            <textarea id="body" class="dark-theme" name="body" placeholder=" What's on your mind, {{name}}? "></textarea>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="input-field-text">
                                                <input type="file" class="form-control" name="image" id="image" />
                                            </div>
                                    </div>

                                    <div class="row">
                                        <input type="submit" value="Post" class="btn col s12 htp">
                                    </div>
                                </form>
                            </div>
                            
                        </div>   
                            
                            <a href="#imgpost" class="waves-effect waves-light modal-trigger"><i class="material-icons med center">add_a_photo</i></a>
                        </li>




                        <li class="post-f-btn">
                         <div id="videopost" class="modal">
                            <div class="modal-content">
                                <a href="" class="modal-close btn right waves-effect waves-green btn-flat"> &times;</a>

                                <p style="color: rgb(236, 236, 236); font-size:24px">Post Videos</p>
                                
                                
                                    <form action="/videos" method="POST" enctype="multipart/form-data" >
                                
                                    <div class="row">
                                        <div class="input-field-post">
                                            <select class="browser-default" name="status">
                                                <option id="op-post" value="public"  selected > Public</option>
                                                <option id="op-post" value="private" >Private</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                    

                                    <div class="row">
                                        <div class="input-field-text">
                                                <input type="file" class="form-control" name="video" id="video" />
                                            </div>
                                    </div>

                                    <div class="row">
                                        <input type="submit" value="Post" class="btn col s12 htp">
                                    </div>
                                </form>
                            </div>
                            
                        </div>   
                        <a href="#videopost" class="waves-effect waves-light modal-trigger"><i class="material-icons med center">ondemand_video</i></a>

                        </li>
                        <li class="post-f-btn"><a href="sass.html" class="waves-effect waves-light modal-trigger"><i class="material-icons med center">mood</i></a></li>
                     </ul>
                    
                

                    
                
                </div>

                
            </div>
            
        </div>


       {{!-- <div class="row">
           <div class="container">
              <h4 style="color: aliceblue;">News Feed</h4>
           </div>
       </div>
         --}}
         

        <div class="row">
            {{#each stories}}
                <div class="container" >
                    <div class="card">
                        <div class="card-image">
                            {{{editIconfeed user ../user _id}}}
                           
                        </div>
                        <div class="chip res">
                                <img src="/uploads/user/{{user.image}}" alt="">
                                <a class="name-color" href="{{{validUser user ../user}}}"> {{user.firstName}} {{user.lastName}} </a>
                        </div>
                                   

                        <div class="card-content">
                            <span class="card-date">{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span>
                            <span class="card-date capitalize">&bull; {{status}} </span>
                            <p> {{stripTags (truncate body 150)}} </p>
                            <a href="/feed/{{_id}}" class="view-more">Show More</a>
                            <br>
    
                        </div>

                        {{{validImage image}}}
                        {{!-- <div>
                           <img src="/uploads/posts/{{image}}" alt="" height="300px" width="100%" />
                       </div> --}}
                        {{!-- {{{checkLikes likes 1}}} --}}
                        {{#if likes}}
                        <ul class="collapsible" style="margin-top:-5px; margin-bottom:-5px">
                            <li>
                            <div class="collapsible-header">
                                
                                <div class="col s4 m7 l10">
                                    <div style="float: left !important;">
                                        {{!-- <span><img src="/uploads/user/{{likes.0.image}}" class="circle" height="20px" width="20px"  alt=""></span> --}}
                                        <span><img src="/img/like.png" style="float: left;" height="25px" width="25px" alt=""></span>
                                        <span class="likedlook name-color">
                                            {{#iter likes}}
                                                {{{validLikedUserTag _id ../likes ../../user}}}
                                            {{/iter}}
                                            {{{checkLikedLength likes ../user}}}
                                    </div>
                                </div>
                                <div class="col s5 m4 l4">
                                    <a href="/feed/{{_id}}" class="likedlook">{{comments.length}} comments </a>, 0 share
                                </div>
                            </div>
                            <div class="collapsible-body likes-content">
                                <span> 
                                    {{#iter likes}}
                                        <div class="chip res">
                                                <img src="/uploads/user/{{image}}" alt="">
                                                <a class="name-color" href="{{{validLikedUser _id ../../user}}}"> {{firstName}} {{lastName}} </a>
                                        </div>
                                        
                                        
                                    {{/iter}}
                                </span>
                            </div>
                           
                            </li>
                        </ul>
                        {{else}}
                            Be the first to like
                            <div class="right"><a href="/feed/{{_id}}" class="likedlook">{{comments.length}} comments </a>, 0 share </div>


                        {{/if}}
                        
                        
                        <div class="card-action">
                            <div class="row" style="margin: 0% !important;">
                                <div class="col s3 m4 l4">
                                    <form action="/feed/{{_id}}/like" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                
                                                {{{checkLikedState likes ../user}}}

                                        
                                                      
                                    </form>

                                </div>
                                <div class="col s12 m4 l4">
                                       
                                                <a href="/feed/{{_id}}" class="btn-small htp material-icons round">message </a>
                                                 Comment
                                                        
                                </div>
                                <div class="col s12 m4 l4">
                                    <form action="" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                
                                                <input type="submit" class="btn-small htp material-icons round" value="share"/>
                                                share
                                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            {{else}}
                <p>No stories to display</p>

            {{/each}}
        </div>


        {{!-- profile photo upload --}}
        <div class="row">
            {{#each profile_image}}
            <div class="container">
                <div class="card">
                    <div class="card-image">
                    </div>
                    <div class="chip res">
                                <img src="/uploads/user/{{image}}" alt="">
                                <a class="name-color" href="/feed/user/{{_id}}"> {{firstName}} {{lastName}} </a>
                    </div>
                    <span>uploaded profile photo</span>

                    <div class="card-content">
                            <span class="card-date">{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span>
                            <span class="card-date capitalize">&bull; public </span>
                            <a href="/feed/{{_id}}" class="view-more">Show More</a>
                            <br>
    
                        </div>

                    {{{validProfileImage image}}}
                    {{#if likes}}
                        <ul class="collapsible" style="margin-top:-5px; margin-bottom:-5px">
                            <li>
                            <div class="collapsible-header">
                                
                                <div class="col s4 m7 l10">
                                    <div style="float: left !important;">
                                        {{!-- <span><img src="/uploads/user/{{likes.0.image}}" class="circle" height="20px" width="20px"  alt=""></span> --}}
                                        <span><img src="/img/like.png" height="20px" width="20px"alt=""></span>
                                        <span class="likedlook">{{likes.length}} likes <span>
                                    </div>
                                </div>
                                <div class="col s5 m4 l4">
                                    <a href="/feed/{{_id}}" class="likedlook">{{comments.length}} comments </a>, 0 share
                                </div>
                            </div>
                            <div class="collapsible-body likes-content">
                                <span> 
                                    {{#iter likes}}
                                        <div class="chip res">
                                                <img src="/uploads/user/{{image}}" alt="">
                                                <a class="name-color" href="/feed/user/{{_id}}"> {{firstName}} {{lastName}} </a>
                                        </div>
                                        
                                        
                                    {{/iter}}
                                </span>
                            </div>
                           
                            </li>
                        </ul>
                        {{else}}
                            Be the first to like
                            <div class="right"><a href="/feed/{{_id}}">{{comments.length}} comments </a>, 0 share </div>


                        {{/if}}
                        <div class="card-action">
                            <div class="row" style="margin: 0% !important;">
                                <div class="col s3 m4 l4">
                                    <form action="/feed/{{_id}}/like" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                
                                                <input type="submit" class="btn-small material-icons round" value="thumb_up"/>
                                                Like
                                        
                                                      
                                    </form>

                                </div>
                                <div class="col s12 m4 l4">
                                       
                                                <a href="/feed/{{_id}}" class="btn-small material-icons round">message </a>
                                                 Comment
                                                        
                                </div>
                                <div class="col s12 m4 l4">
                                    <form action="" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                
                                                <input type="submit" class="btn-small material-icons round" value="share"/>
                                                share
                                                        
                                    </form>
                                </div>
                            </div>
                        </div>

                </div>

            </div>
            {{/each}}
        </div>



    </div>


     <div class="col s12 m4 l3">
         <div class="top-right-stories">
            <h6 style="color: aliceblue;">Stories</h6>
                <form action="/feed/status" method="POST" enctype="multipart/form-data" >
                        
                    <input type="file" class="form-control" name="storiesimage" id="storiesimage" />
                         
                    <input type="submit" value="Add" class="btn htp">
                    
                </form>

            <div class="row">
                {{#each timestories}}
                    <div class="timestories-wall" >
                        
                            
                            <p style={float:right; top:2px}>
                                <span>{{{TimeStatus storiesimage}}}</span>
                            <span>{{user.displayName}}</span>
                            <span class="card-date">{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span>

                            </p>
                            
                    </div>

                {{else}}
                    <p>No stories to display</p>

                {{/each}}
            </div>
                
         </div>
        <div class="med-right-chat-active">
              <h6 style="color: aliceblue;">Active Users</h6>
            <div class="card">
                {{#each activeUsers}}
                    <li style="list-style-type: none;">
                            <div class="chip res">
                                        <img src="/uploads/user/{{image}}" alt="">
                                        <a class="name-color" href="/feed/user/{{user._id}}"> {{firstName}} {{lastName}} </a>
                            </div>
                    </li>
                    

              {{/each}}
            </div>
              
                
        </div>
    </div>
  </div>

     
