<div class="row">
    
    <div class="col s12 m1 l1"></div>
    <div class="col s12 m6 l6">
        
        <div class="card story">
                        <div class="card-image">
                            {{{editIcon story.user user story._id false}}}
                           
                        </div>
                        <div class="chip res">
                                <img src="/uploads/user/{{story.user.image}}" alt="">
                                <a class="name-color" href="{{{validUser story.user user}}}"> {{story.user.firstName}} {{story.user.lastName}} </a>
                                {{#if story.getShared}}
                                    <span>{{story.body}}</span>
                                {{else if story.isCover}}
                                    <span>{{story.body}}</span>
                                {{else if story.isProfile}}
                                    <span>{{story.body}}</span>
                                {{else}}

                                {{/if}}
                        </div>
                                   

                        <div class="card-content">
                            <span class="card-date">{{formatDate story.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span>
                            <span class="card-date">&bull; {{{getStatus story.status}}} </span>
                            {{#if story.getShared}}

                            {{else if story.isCover}}


                            {{else if story.isProfile}}

                            {{else}}
                            <p> {{stripTags (truncate story.body 150)}} </p>
                            {{/if}}
                            <br>
    
                        </div>
                        {{#if story.isCover}}
                            {{{validCoverImage story.image}}}

                        {{else if story.isProfile}}
                            {{{validProfileImageStory story.image}}}

                        {{else}}
                        {{{validImage story.image}}}

                        {{/if}}
                        {{!-- share post  --}}
                        {{#if story.getShared}}
                            <div class="card story" 
                                style="
                                margin-left: 3%; 
                                margin-right: 3%;
                                margin-top: 0% !important;
                                background-color:rgb(79, 80, 80);
                                ">
                                    <div class="chip res">
                                            <img src="/uploads/user/{{story.postUser.image}}" alt="">
                                            <a class="name-color" href="{{{validUser story.postUser user}}}"> {{story.postUser.firstName}} {{story.postUser.lastName}} </a>
                                    </div>
                                            

                                    <div class="card-content">
                                        <span class="card-date">{{formatDate story.getShared.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span>
                                        <span class="card-date">&bull; {{{getStatus story.getShared.status}}} </span>
                                        
                                        <p> {{stripTags (truncate story.getShared.body 150)}} </p>
                                        <a href="/feed/{{story.getShared._id}}" class="view-more">Show More</a>
                                        <br>
                
                                    </div>

                                    {{{validImage story.getShared.image}}}
                                    {{#if story.getShared.likes}}
                                    <ul class="collapsible" style="margin-top:-5px; margin-bottom:-5px">
                                        <li>
                                        <div class="collapsible-header">
                                            
                                            <div class="col s4 m7 l9">
                                                <div style="float: left !important;">
                                                    <span><img src="/img/like.png" style="float: left;" height="25px" width="25px" alt=""></span>
                                                    <span class="likedlook name-color">
                                                       
                                                        {{story.getShared.likes.length}}
                                                </div>
                                            </div>
                                            <div class="col s5 m4 l5">
                                                <a href="/feed/{{story.getShared._id}}" class="likedlook">{{story.getShared.comments.length}} comments </a>
                                                {{#if story.isCover}}
                                                
                                                {{else if story.isProfile}}
                                                
                                                {{else}}
                                                
                                                 , {{story.getShared.share.length}} shares

                                                 {{/if}}
                                            </div>
                                        </div>
                                        
                                    
                                        </li>
                                    </ul>
                                    {{else}}
                                        Be the first to like
                                        <div class="right"><a href="/feed/{{story._id}}" class="likedlook">
                                            {{story.getShared.comments.length}} comments </a>
                                            
                                            {{#if isCover}}
                                                
                                                {{else if isProfile}}
                                                
                                                {{else}}
                                                
                                                 , {{story.getShared.share.length}} shares

                                                 {{/if}}
                                        </div>


                                    {{/if}}
                            </div>


                        {{else}}

                        {{/if}}
                        

                        {{!-- main-post-likes --}}
                        {{#if story.likes}}
                        <ul class="collapsible" style="margin-top:-5px; margin-bottom:-5px">
                            <li>
                            <div class="collapsible-header">
                                
                                <div class="col s4 m7 l10">
                                    <div style="float: left !important;">
                                        {{!-- <span><img src="/uploads/user/{{likes.0.image}}" class="circle" height="20px" width="20px"  alt=""></span> --}}
                                        <span><img src="/img/like.png" style="float: left;" height="25px" width="25px" alt=""></span>
                                        <span class="likedlook name-color">
                                            {{#iter story.likes}}
                                                {{{validLikedUserTag _id ../story.likes ../user}}}
                                            {{/iter}}
                                                {{{checkLikedLength story.likes user}}}
                                    </div>
                                </div>
                                <div class="col s5 m4 l4">
                                    <a href="/feed/{{story._id}}" class="likedlook">{{story.comments.length}} comments </a>
                                {{#if story.isCover}}
                                
                                {{else if story.isProfile}}
                                
                                {{else}}
                                , {{story.share.length}} shares 
                                
                                {{/if}}
                                </div>
                            </div>
                            <div class="collapsible-body likes-content">
                                <span> 
                                    {{#iter story.likes}}
                                        <div class="chip res">
                                                <img src="/uploads/user/{{image}}" alt="">
                                                <a class="name-color" href="{{{validLikedUser _id ../user}}}"> {{firstName}} {{lastName}} </a>
                                        </div>
                                        
                                        
                                    {{/iter}}
                                </span>
                            </div>
                           
                            </li>
                        </ul>
                        {{else}}
                            Be the first to like
                            <div class="right"><a href="/feed/{{story._id}}" class="likedlook">{{story.comments.length}} comments </a>
                                
                                {{#if story.isCover}}
                                
                                {{else if story.isProfile}}
                                
                                {{else}}
                                , {{story.share.length}} shares 
                                
                                {{/if}}
                            </div>


                        {{/if}}
                        
                        
                        <div class="card-action">
                            <div class="row" style="margin: 0% !important;">
                                <div class="col s3 m4 l4">
                                    <form action="/feed/{{story._id}}/{{story.user._id}}/like" method="POST">
                                                <input type="hidden" name="_method" value="PUT">
                                                
                                                {{{checkLikedState story.likes user}}}
           
                                    </form>
                                    
                                    
                               

                                </div>
                                <div class="col s12 m4 l4">
                                       
                                                <a href="/feed/{{story._id}}" class="btn-small htp material-icons round">message </a>
                                                 Comment
                                                        
                                </div>
                                <div class="col s12 m4 l4">
                                    {{#if story.isCover}}
                                        <form action="/chats/{{_id}}" method="POST">
                                                    <input type="hidden" name="_method" value="PUT">
                                                    
                                                    <input type="submit" class="btn-small htp material-icons round" value="inbox"/>
                                                    message
                                                            
                                        </form>
                                    {{else if story.isProfile}}
                                        <form action="/chats/{{_id}}" method="POST">
                                                    <input type="hidden" name="_method" value="PUT">
                                                    
                                                    <input type="submit" class="btn-small htp material-icons round" value="inbox"/>
                                                    message
                                                            
                                        </form>
                                    {{else}}
                                        <form action="/feed/share/{{story._id}}/{{story.user._id}}" method="POST">
                                                    <input type="hidden" name="_method" value="PUT">
                                                    
                                                    <input type="submit" class="btn-small htp material-icons round" value="share"/>
                                                    share
                                                            
                                        </form>
                                    {{/if}}
                                    
                                </div>
                            </div>
                       
                        
                    </div>
                </div>
    </div>
    <div class="col s12 m4 l5">
        <div class="card story">
            
            
            <div class="card-content">
                <h4>Comments</h4>
                {{#if comment}}
                {{#each comment}}
                
                <div class="card-story" style="background-color: rgba(42, 42, 43, 0.959); border-radius:5px">
                    <div class="chip res">
                        <img src="/uploads/user/{{user.image}}" alt="">
                        <a class="name-color" href="/feed/user/{{user._id}}"> {{user.firstName}} {{user.lastName}} </a>
                         <span class="card-date">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>

                    </div>
                    {{#if user.work}}
                    <p style="font-size: 9px; margin:0px !important; padding-left:7%">{{user.work}}</p>
                    {{else if user.school}}
                    <p style="font-size: 9px; margin:0px !important; padding-left:7%">{{user.school}}</p>


                    {{/if}}
                    <div class="card-content" style="margin:6px">
                        {{text}}
                    </div>

                </div>
                

                {{/each}}
                {{else}}
                    <p>Be the first to comment.</p>

                {{/if}}
                <form action="/feed/{{story._id}}/{{story.user._id}}/comments" method="POST">
                                
                     <input type="hidden" name="_method" value="PUT">
                    
                    <div class="row">
                        <div class="input-field-text">
                            <textarea id="body" class="dark-theme" name="comment" placeholder=" Add comment, {{name}} "></textarea>
                        </div>

                    </div>


                    <div class="row">
                        <input type="submit" class="btn htp right" value="Post" />
                    </div>
                </form>



            </div>
        </div>
    </div>
            
                
           

  
        
     
</div>
 
